.c-contact-form {
  display: block;
  max-width: 650px;
  max-width: 700px;
  margin: 0 auto;

  &__input {
    display: block;
    width: 100%;

    &:required:not(:focus):valid {
      border-color: $grey;
    }
  }

  &__label-asterisk {
    color: $color-html;
    font-weight: bold;

    &.c-contact-form__label-asterisk--hide {
      display: none;
    }
  }

  &__error-label {
    display: none;
    padding-left: 0.5em;
    color: $color-html;
    background: $white;
    border: 2px solid $color-html;
    border-top: none;
    border-radius: 0 0 5px 5px;

    &.show {
      display: block;
    }
  }

  &__counter {
    color: $grey;
  }
}

.l-contact-form-grid {
  display: block;
  margin-bottom: $b-l-h * 0.5rem;

  &__item1,
  &__item2,
  &__item3,
  &__item4,
  &__item5,
  &__item6,
  &__item7,
  &__item8 {
    margin-bottom: $b-l-h * 0.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .l-contact-form-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    // fixme:
    // grid-gap: ($b-l-h * 0.5rem) ($b-l-h * 1rem);
    // gap: ($b-l-h * 0.5rem) ($b-l-h * 1rem);

    &__item1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }

    &__item2 {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }

    &__item3 {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
    }

    &__item4 {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
    }

    &__item5 {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
    }

    &__item6 {
      -ms-grid-row: 4;
      -ms-grid-column: 1;
    }

    &__item7 {
      -ms-grid-row: 4;
      -ms-grid-column: 2;
    }

    &__item8 {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column-end: span 2;
    }
  }
}
