.c-form {
  display: block;
  max-width: 650px;
  // max-width: 600px;

  margin: 0 auto;

  &__input {
    display: block;
    width: 100%;
  }

  &__label {
    // todo: js display block
    display: block;
    // display: none;
    padding-left: 0.5em;
    color: $color-html;
    // font-weight: bold;
    background: $white;
    border: 2px solid $color-html;
    border-top: none;
    border-radius: 0 0 5px 5px;
  }

  &__counter {
    color: $grey;
  }
}

.l-form-grid {
  display: grid;
  gap: ($b-l-h * 0.5rem);
}

@media only screen and (min-width: 800px) {
  .l-form-grid {
    grid-template-columns: 1fr 1fr;
    gap: ($b-l-h * 0.5rem) ($b-l-h * 1rem);
    margin-bottom: $b-l-h * 0.5rem;

    &__item {
      grid-column-end: span 2;
    }
  }
}

/* FIXME: Add ticks and crosses for valid and invalid inputs */

/*

Style valid and invalid selectors only when the form fields aren't currently being edited with :not(:focus):valid (or invalid)
and style only :required invalid inputs in this way - 
 FIXME: PROBLEM : this highlights all valid and invalid fields even BEFORE user started filling out the form -
 

.c-form__input:required:not(:focus):valid {
  border-color: $valid-color;
}


.c-form__input:required:not(:focus):invalid {
  border-color: $invalid-color;
}

*/
