.c-nav {
  display: block;
  background: $grey;
  text-align: right;

  &__btn {
    margin-right: 10px;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $white;
    padding: ($b-l-h * 0.25rem) 0;

    &:before {
      content: '\2752';
      display: none;
    }

    &--home:before {
      color: $color-html;
    }

    &--projects:before {
      color: $color-css;
    }

    &--skills:before {
      color: $color-js;
    }

    &--about:before {
      color: $color-redux;
    }

    &--contact:before {
      color: $color-react;
    }

    &.active {
      font-weight: bold;

      &:before {
        display: inline-block;
      }
    }

    &:hover {
      font-size: 120%;
    }

    &:active {
      outline: none;
    }
  }
}

.l-nav-list {
  display: none;
  list-style-type: none;
  text-align: center;
  padding: 0 15px;

  &.is-expanded {
    display: block;
  }

  &__item {
    display: block;
    margin-bottom: $b-l-h * 0.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .c-nav {
    padding: ($b-l-h * 0.5rem) 0;

    &__btn {
      display: none;
    }

    &__link {
      padding: 0;
    }
  }

  .l-nav-list {
    display: block;
    text-align: right;

    &__item {
      display: inline-block;
      margin-left: 15px;
      margin-bottom: 0;
    }
  }
}
