.c-project {
  display: block;

  &__name {
    margin-bottom: $b-l-h * 2rem;
  }

  &__img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .l-project-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px 1fr;
    grid-template-columns: 400px 1fr;
    // grid-gap: 0 100px;
    // gap: 0 100px;

    &__item1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }

    &__item2 {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      // fixme:
      padding-left: 100px;
    }
  }
}
