.c-project-list {
  display: block;
  list-style-type: decimal-leading-zero;
  counter-reset: item;

  &__item {
    display: block;

    &:before {
      content: '0' counter(item) '. ';
      counter-increment: item;
      font-weight: bold;
      @include h2($b-l-h, $type-scale);
    }
  }
}
