.c-project {
  display: block;

  &__name {
    margin-bottom: $b-l-h * 2rem;
  }

  &__img {
    // fixme: responsive -  sizes
    max-width: 450px;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  .l-project-grid {
    display: grid;
    // fixme:
    grid-template-columns: 400px 1fr;
    // fixme:
    gap: 0 100px;
  }
}
