.c-section {
  display: block;
  padding: ($b-l-h * 2rem) 0 ($b-l-h * 4rem) 0;

  &__heading {
    padding-bottom: $b-l-h * 2rem;
    text-align: center;
  }

  &__text {
    margin-bottom: $b-l-h * 1rem;
    text-align: center;
  }
}
