.c-skill-group {
  display: block;
  padding-left: $b-l-h * 1rem;

  &__heading {
    display: inline-block;
    border-bottom: 2px solid $grey;
    margin-bottom: $b-l-h * 0.5rem;
  }

  &__skill-img {
    width: auto;
    height: 1em;
    vertical-align: baseline;

    &--spin {
      animation: spin infinite 20s linear;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
