.c-success-modal {
  display: none;
  @include fixed-full-screen();
  background: $white-05;

  &--is-open {
    display: block;
  }

  &__inner {
    display: block;
    min-width: max-content;
    @include centerXY-absolute();
    padding: $b-l-h * 1em;
    border: 4px solid $color-redux;
    border-radius: 10px;
    background: $white;
    text-align: center;
  }

  &__msg {
    margin-bottom: $b-l-h * 1rem;
  }
}
