.c-success-modal {
  display: none;
  @include fixed-full-screen();
  background: rgba(255, 255, 255, 0.5);

  &--is-open {
    display: block;
  }

  &__msg {
    display: block;
    @include centerXY-absolute();
    padding: $b-l-h * 1rem;
    border: 4px solid $color-redux;
    background: $white;
    text-align: center;
  }
}
