.o-btn {
  display: inline-block;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: 0 ($b-l-h * 0.5rem) 0 ($b-l-h * 0.5rem);
  border: 2px solid black;
  border-radius: 5px;
  background: #ffffff;

  &:disabled {
    color: #b6bbbb;
    border-color: #b6bbbb;
  }

  &:focus {
    border-color: $color-react;
    -webkit-box-shadow: 0 0 8px $color-react;
    box-shadow: 0 0 8px $color-react;
    outline: none;
  }
}
