.t1-fluid {
  @include fluid-type(320px, 1200px, 52px, 64px);
  line-height: 1.2;
}

.t2 {
  @include h2($b-l-h, $type-scale);
}

.t3 {
  @include h5($b-l-h, $type-scale);
}

.t-body {
  font-size: 1rem;
  line-height: $b-l-h;
}

.s1 {
  @include s1($b-l-h, $type-scale);
}
