.l-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.l-wrapper {
  width: 90%;
  margin: 0 auto;
}

.l-home-logo-list {
  display: block;
  list-style-type: none;

  &__item {
    display: inline-block;
    margin-right: 5px;
  }
}

.l-section {
  display: block;
  // fixme: ? space for fixed nav
  padding-top: 60px;
  margin-bottom: $b-l-h * 4rem;
}

@media only screen and (min-width: 850px) {
  .l-wrapper {
    width: 80%;
  }
}
