.l-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.l-wrapper {
  width: 90%;
  margin: 0 auto;
}

// fixme: separate component or generalise with other lists?
.l-project-link-list {
  display: block;
  list-style-position: inside;
}

// fixme: here or in project?
@media only screen and (min-width: 1200px) {
  .l-project-grid {
    display: grid;
    // fixme:
    grid-template-columns: 400px 1fr;
    // fixme:
    gap: 0 100px;
  }
}

.l-logo-list {
  display: block;
  list-style-type: none;

  &__item {
    display: inline-block;
    margin-right: 5px;
  }
}
