.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

// .u-push {
//   margin-bottom: 1rem * $b-l-h !important;
// }

.u-pad {
  padding-bottom: $b-l-h * 1rem !important;
}

.u-push-dbl {
  margin-bottom: 2rem * $b-l-h !important;
}

.u-border-html {
  border-color: $color-html !important;
}

.u-border-css {
  border-color: $color-css !important;
}

.u-border-js {
  border-color: $color-js !important;
  // background-color: $color-js !important;
}

.u-border-redux {
  border-color: $color-redux !important;
}

.u-border-react {
  border-color: $color-react !important;
}
