$color-js: #ffe024;
$color-css: #2965f1;
// $color-css-05: rgba(41, 101, 241, 0.5);

$color-html: #ff5900;
// $color-html-05: rgba(255, 89, 0, 0.5);

$color-redux: #7d48b4;
$color-react: #00e0fd;
$grey: #2e2d2d;
$white: #fff;
